doctype html
html(lang="en", ng-app="venfu")
  head
    title #{title}
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="authors", content="Jarvis Martin, Max Franks, and Dane Schoonover")
    // Bootstrap 
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    // Font Awesome icons
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css", rel="stylesheet")
    // MY STYLING
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel="stylesheet", href="/css/style.css")
    
    // HTML5 shim, for IE6-8 support of HTML5 elements
    | <!--[if lt IE 9]>
    | <script src="public/javascripts/aFarkas-html5shiv-67bff28/dist/html5shiv.js"></script>
    | <![endif]-->
    
    // jQuery
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    //script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    
    // Latest compiled and minified Bootstrap JavaScript 
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    
    // AngularJS
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js")
    script(src="javascripts/controllers.js")
    
    // // Start carousel cycle, set carousel height, .hello height, center .bigSearch
    // script.
    //   // $(document).ready(function(){
    //   $(function() {
        
    //     var 
    //       carouselHeight = 0.75 * window.innerHeight;
    //       helloHeight = 0.21 * window.innerHeight;
    //       //rowHeight = $(".bigSearch").parent().parent().height();
          
    //     $("#foodPorn").carousel('cycle');
    //     $(".item").css("height", carouselHeight + "px");

    //     $(".hello").children().css("height", helloHeight + "px");

    //     //$(".bigSearch").css("margin-top", (0.5 * rowHeight - 20) + "px");
 
    //   }); 
    
  body
    .container
      // Alerts
      if (msg != "")
        div.col-xs-12.col-md-4.col-md-offset-3.alert.alert-info.text-center.mainAlert
          button.close(type="button", data-dismiss="alert", aria-hidden="true") ×
          i.fa.fa-info-circle
          span #{msg}
          
      if (err != "")
        div.col-xs-12.col-md-4.col-md-offset-3.alert.alert-danger.text-center.mainAlert
          button.close(type="button", data-dismiss="alert", aria-hidden="true") ×
          i.fa.fa-times-circle
          span #{err}
          
      if (success != "")
        div.col-xs-12.col-md-4.col-md-offset-3.alert.alert-success.text-center.mainAlert
          button.close(type="button", data-dismiss="alert", aria-hidden="true") ×
          i.fa.fa-check-circle
          span #{success}
      
      //- #navMenu
         .relativeContainer
           img(src="images/egg.png")
      
      // #menu
      //   i.fa.fa-align-justify.fa-3x(title="menu")
      
      // // Sound
      // // audio#gong
      // //   source(src="audio/gong.mp3")
  
      // // NAV CONTENT
      // #navContent.col-md-3.col-xs-11
      //   // SEARCH BAR
      //   .col-xs-12
      //     .input-group
      //       input.form-control(type="text", placeholder="Search")
      //       span.input-group-btn
      //         button.btn.btn-default(type="button")
      //           i.fa.fa-search
                
      //   // SIGN UP/IN + HOME
      //   ul.nav.pull-left.col-xs-6.text-center
      //     li
      //       a(href="/")
      //         i.fa.fa-home
      //         p Home
      //     li
      //       a(href="/about")  
      //         i.fa.fa-info-circle
      //         p How to
              
      //     // Determine if User is logged in and render appropriate content
      //     if loggedIn
      //       li
      //         a(href="/logout")
      //           i.fa.fa-sign-out
      //           p Sign out
  
      //   ul.nav.pull-left.col-xs-6.text-center
          
      //     li
      //       a(href="/customerService")  
      //         i.fa.fa-warning
      //         p Help
              
      //     li
      //       a(href="/suggestions")
      //         i.fa.fa-lightbulb-o
      //         p Ideas?
              
      //     // Determine if User is logged in and render appropriate content
      //     if loggedIn
      //       li
      //         a(href="/user")
      //           i.fa.fa-dashboard
      //           // If username 4 chars or less, render name. Otherwise, "my-fu" default.
      //           if(user.username.length <= 7)
      //             p #{user.username}-fu
      //           else
      //             p My Fu
          
        
      //   // Determine if User is logged in and render appropriate content
      //   ul.nav.pull-left.col-xs-11.login.text-center
      //     if !loggedIn
      //       li
      //         a(href="#loginModal", id="login", data-toggle="modal")
      //           i.fa.fa-sign-in  
      //           p Sign in
        
      //   #hideNav
      //     i.fa.fa-align-justify.fa-2x(title="close")
      //     // img(src="images/egg.png")
      
      // Nav Bar
      nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        <!-- Brand and toggle get grouped for better mobile display -->
        .navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          ul.nav.navbar-nav
            li
              a.navbar-brand(href="/", title="home") VenFu
          form.navbar-form.navbar-left(role="search")
            .form-group
              input(type="text", class="form-control", placeholder="New Search")
            button#navSearch.btn.btn-default(type="submit")
              i.fa.fa-search(style="margin: 0")
        <!-- Collect the nav links, forms, and other content for toggling -->
        .collapse.navbar-collapse(id="navbar-collapse")
          ul.nav.navbar-nav
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
                i.fa.fa-folder-open
                span 
                  b.caret
              ul.dropdown-menu
                li
                  a(href="/about")  
                    i.fa.fa-info-circle
                    span How to VenFu
                li
                  a(href="/customerService")  
                    i.fa.fa-warning
                    span Get Help
                    
                li
                  a(href="/suggestions")
                    i.fa.fa-lightbulb-o
                    span Got Ideas?
                
          // Determine if User is logged in and render appropriate content
          ul.nav.navbar-nav.navbar-right
            if !loggedIn
              li
                a(href="#registerModal", id="register", data-toggle="modal")
                  i.fa.fa-edit
                  span Sign up
              li
                a(href="#loginModal", id="login", data-toggle="modal")
                  i.fa.fa-sign-in  
                  span Sign in
            else
              li
                a(href="/logout")
                  i.fa.fa-sign-out
                  span Sign out
              li
                a(href="/user")
                  i.fa.fa-dashboard
                  // If username 4 chars or less, render name. Otherwise, "my-fu" default.
                  if(user.username.length <= 7)
                    span #{user.username}-fu
                  else
                    span My Fu
      
      // Modals
      #registerModal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
                h3 Registration
            .modal-body
              form.form-horizontal(id="registerForm", method="post", action="/register")
                .form-group
                  label.col-xs-2.control-label(for="email") Email
                  .col-xs-10
                    .input-group
                      input.email.form-control(type="text", name="email", placeholder="Email")
                      span.input-group-btn
                        span.btn.btn-default.disabled(type="button")
                          .emailFeedback ...
  
                .form-group
                  label.col-xs-2.control-label(for="username") Username
                  .col-xs-10
                    .input-group
                      input.username.form-control(type="text", name="username", placeholder="Username")
                      span.input-group-btn
                        span.btn.btn-default.disabled(type="button")
                          .usernameFeedback ...
  
                .form-group
                  label.col-xs-2.control-label(for="password") Password
                  .col-xs-10
                    .input-group
                      input.form-control.notOkay.password(type="password", id="registerPassword", name="password", placeholder="Password")
                      span.input-group-btn
                        span.btn.btn-default.disabled(type="button")
                          .passwordFeedback ...
                          
                .form-group
                  label.col-xs-2.control-label(for="confirmPassword") Confirm
                  .col-xs-10
                    .input-group
                      input.form-control.notOkay.confirmPassword(type="password", id="confirmPassword", placeholder="Confirm Password")
                      span.input-group-btn
                        span.btn.btn-default.disabled(type="button")
                          .confirmPasswordFeedback ...
                
                .form-group
                  label.col-xs-2.control-label(for="tel") Phone
                  .col-xs-10
                    .input-group
                      input#phone.form-control(type="tel", name="tel", placeholder="Phone Number (optional)")
                      span.input-group-btn
                        span.btn.btn-default.disabled(type="button") Numbers Only (e.g. 123456789)
                                  
                .form-group
                  label.col-xs-3.control-label(for="classification") VenFu Style:
                  .col-xs-9.input-group
                    .col-xs-3
                      label.checkbox Sell-Fu
                        input(id="vendor", name="classification", type="checkbox", value="V")
                    .col-xs-4
                      label.checkbox Deliver-Fu
                        input(id="delivery", name="classification", type="checkbox", value="D")
                    .col-xs-5
                      label.checkbox Consume-Fu
                        input(id="customer", name="classification", type="checkbox", value="C")
                .modal-footer
                  button.disabled.btn.btn-success.pull-left(id='registerFormSubmit', type="submit")
                    i.fa.fa-check-square-o
                    span Sign Up
                  button.btn.btn-inverse.pull-right(data-dismiss="modal")
                    i.fa.fa-times  
                    span Cancel
          
      #loginModal.modal.fade.centerVert
        .modal-dialog
          .modal-content
            .modal-header
              button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
              h3 Please sign in
                a#register.btn.btn-success.pull-right(style="margin-right: 50px", href="#registerModal", data-toggle="modal", data-dismiss="modal")
                  i.fa.fa-plus
                  span Join us
            .modal-body
              form#loginForm.form-horizontal(action="/ajaxLogin", method="post")
                .form-group
                  label.control-label.sr-only(for="username") Username
                  .col-xs-12
                    .input-group
                      input#loginUsername.form-control(type="text", name="username", placeholder="Username")
                      span.input-group-btn
                        span.btn.btn-default.disabled(type="button")
                          #loginUsernameFeedback ...
  
                .form-group
                  label.control-label.sr-only(for="password") Password
                  .col-xs-12
                    .input-group
                      input#loginPassword.form-control(type="password", name="password", placeholder="Password")
                      span.input-group-btn
                        span.btn.btn-default.disabled(type="button")
                          #loginPasswordFeedback ...
  
                .modal-footer
                  .form-group 
                    .col-xs-12.col-md-4
                      button#loginFormSubmit.btn.btn-primary.col-xs-12(type="submit")
                        i.fa.fa-sign-in 
                        span Sign in
                    .col-xs-12.col-md-4
                      //-.checkbox(style="text-align: left")
                        label Remember me
                          input(type="checkbox", name="classification")
                    .col-xs-12.col-md-4
                      button.btn.btn-link(type="button", href="#loginHelpModal", data-toggle="modal", data-dismiss="modal") Can't remember?
  
                  .form-group
                    .col-xs-12
                      #loginHelpFeedback
                      
                //-.modal-footer
                  h5.pull-left Or sign in with
                  .col-xs-12.social
                    a(href="/auth/facebook", title="Facebook")
                      i.fa.fa-facebook-sign.fa-4x
                    a(href="#", title="Twitter")
                      i.fa.fa-twitter-sign.fa-4x
                    a(href="#", title="Google+")
                      i.fa.fa-google-plus-sign.fa-4x
                    a(href="#", title="Pinterest")
                      i.fa.fa-pinterest-sign.fa-4x
                    a(href="#", title="Instagram")
                      i.fa.fa-instagram.fa-4x
                    a(href="#", title="Tumblr")
                      i.fa.fa-tumblr-sign.fa-4x
              
      #loginHelpModal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
              h3 Sign-in Help
            .modal-body
              h4 Enter the email address you registered with.
              br
              form#loginForm.form-horizontal(action="/loginHelp", method="post")      
                .form-group
                  label.col-xs-2.control-label(for="loginHelpEmail") Email
                  .col-xs-10
                    .input-group
                      input#loginHelpEmail.form-control.check4RegisteredEmail(type="text", name="email", placeholder="Email")
                      span.input-group-btn
                        span.btn.btn-default.disabled(type="button")
                          .check4RegisteredEmailFeedback ...
                br
                .form-group
                  .col-xs-12
                    button#loginHelpSubmit.btn.btn-success.pull-right.disabled(type="submit", name="submit", onclick="loginHelpSubmit()") Send me a new password
                    